.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid gray;
    border-radius: 5px;
    background-color: gray;
}

.container>div {
    border: 2px solid white;
    border-radius: 5px;
    background-color: gray;
    padding: 1em;
    color: white;
}

.txt1:hover {
    color: blue;
    text-transform: uppercase;
    cursor: pointer;
}

.txt2:hover {
    color: whitesmoke;
    text-transform: uppercase;
    cursor: pointer;
}

.txt3:hover {
    color: yellow;
    text-transform: uppercase;
    cursor: pointer;
}

.color1:hover {
    background-color: green;
    cursor: pointer;
}

.color2:hover {
    background-color: yellow;
    cursor: pointer;
}

.color3:hover {
    background-color: white;
    cursor: pointer;
}

.img1:hover {
    cursor: pointer;
    background-image: url(../img/im1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
}

.img2:hover {
    cursor: pointer;
    background-image: url(../img/img2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
}

.img3:hover {
    cursor: pointer;
    background-image: url(../img/img3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
}